html,body{
  margin:0;
}
a{
  color:gray;
  font-family:sans-serif;
  text-decoration:none;
 
}
header{
  background-color:#FFFFFF;
  display:block;
  height:100px;
  
  margin:1;
  
  width:100%;
}

.lightgray{
  color: 	#DCDCDC	
}
#logo{
  background-image:url('https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/Yeshiva_University.svg/490px-Yeshiva_University.svg.png');
  background-size:cover;
  border:;
  display:inline-block;
  height:90px;
  margin: 1px 10% 1px 10% ;
  vertical-align:top;
  width:90px;
}
nav{
  border:;
  bottom:10px;;
  display:inline-block;
  height:70px;
  margin:20px 0;
  position:relative;
  vertical-align:top;
  width:700px;
  
}
ul{
  list-style-type:none;
  border:;
  margin:6px 0;
}
ul li{
  border-right:solid thin;
  color:#727272;
  display:inline-block;
  font-family:sans-serif;
  font-weight:700;
  font-size:20px;
  margin:0 15px;
  padding:10px 30px;
}
ul li:hover{
  color:	
}
/*Banner*/
#banner{
  background-image:url('https://static.wixstatic.com/media/5de99cfd8f2d42c79041750360efbb96.jpg/v1/fill/w_1013,h_447,al_bl,q_85,usm_0.66_1.00_0.01/5de99cfd8f2d42c79041750360efbb96.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  display:block;
  height:600px;
  width:100%;; 
}
#banner-text{
  color:#0088CB;
  font-family:Playball;
  
  font-size:80px;
  left:75px;
  position:relative;
  top:75px;
  
}
#body{
  background-image:url('https://static.wixstatic.com/media/147724328ad3462da9dc70cd41c1f96a.jpg/v1/crop/w_1013,h_464,al_l,q_85/147724328ad3462da9dc70cd41c1f96a.jpg');
  color:#455757;
  float:right;
  font-weight:600;
  height:auto;
  text-align:center;
  width:100%;
} 
#body p {
  font-family:sans-serif;
  font-size:25px;
  
}
#top-header{
  border:;
  font-size:20px;
  line-height:30px;
  margin:50px auto;
  text-align:center;
  width:60%;
}
#body h1{
  margin:0;
  
  text-align:center;
}
#bottom-header{
  
  
}
#left-header,#right-header{
  display:inline-block;
  font-family:sans-serif;
  font-size:20px;
  border:;
  margin:0 100px;
  vertical-align:top;
  width:30%;
  
}
/*Footer*/
footer{
  background-color:white;
  border:solid;
  
  height:300px;
  
  text-align:center;
  width:100%;
}
.footer{
  border: ;
  color:gray;
  display:inline-block;
  font-family:sans-serif;
  font-weight:100;
  height:300px;
  margin-top:100px;
  
  vertical-align:top;
  width:50%;
  
}
.footer p {
  color:#035898;
  display:inline-block;
}
.footer img{
  display:inline-block;
  height:100px;
  width:150px;
  
}