{% extends 'base.html' %}
{% load staticfiles %}
{%block css %}<link href = "{% static 'Css/Guest.css' %}" rel = "stylesheet" type = "text/css">{% endblock %}
{% block content %}
<div class = "banner">
  <div class = "banner-text">
      <h1>Guests</h1>
  </div>  
  
</div>

<div id = "body">
<div id = "left-side">
  <div id = "left-guide"></div>
  <p>We hope you enjoy your experience. We will put you in contact with your hosts once you are paired up.</p>
   <p>Expect to be asked what you can contribute to the meal, whether it is a side dish, devar torah or desert, as your hosts are likely contributing a great deal towards your meal.</p>
  
  
  <p>While we trust that you are a upstanding citizen of our wonderful community,
we want to remind you that we are here to promote a positive and warm environment in our community, and these experiences are meant to bring us together, not to divide us. Therefore, we would strongly insist on stellar behavior and etiquette. </p>
  
  </div>
  <div id = "right-side"><h1>Looking For A Meal For the End of the Week</h1>
    <p>Hey! Fill out the form as truthfully as possible and we will try to set you up with a hosting meal</p>
{{% form % }}
    <br>
    <button>Submit</button>
  </div>
</div>
{% endblock %}
