<!DOCTYPE html>
<html>
<head>
<link href = "Css/Guest.css" rel = "stylesheet" type = "text/css">
<link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
</head>

<header>
  <div>
     <a href ="index.html "> <div id = "logo"></div></a>
      <nav>
        <ul>
          <li><a href = "index.html">Home</a></li>
          <li><a href = "Guest.html "> Find A Meal</a> </li>
          <li><a href = "Host.html " >  Host a Meal</a></li>
                        
        
        </ul>
      </nav>
        </div>
    


</header>
