{% extends 'base.html' %}
{% load staticfiles %}
{%block css %}<link href = "{% static 'Css/Host.css' %}" rel = "stylesheet" type = "text/css">{% endblock %}
{% block content %}
<div class = "banner">
  <div class = "banner-text">
      <h1>Hosts</h1>
  </div>  
  
</div>
 <div class = "body-container">
  
   <div class = "left-side">
   
   <h1>Thank You!</h1>
     
     <br>
     <p>All of this is really only possible due to your hospitality. By taking on the mantle of Abraham and Sarah, and emulating their attribute of Hachnasat Orchim, you are truly enhancing our community as a whole. Further, Rambam believes that the only way to reach a level of true Festive Happiness is by having guests. </p>
     
     <p>We hope this is a pleasurable experience, and one you hope to repeat. 
 </p>
     
     <p>Once you fill out the form, we will be in contact with you to tie up loose ends and put you in contact with your Shabbos guests. </p>
     
     
     <p>Ya'asher Ko'ach!</p>
   <img src = "https://static.wixstatic.com/media/5b9daf7e36a5449696743964a58eb9cd.jpg/v1/fill/w_304,h_351,al_c,q_80,usm_0.66_1.00_0.01/5b9daf7e36a5449696743964a58eb9cd.jpg">
     <img src = "https://static.wixstatic.com/media/cef756d5e7f34bb8b5d9adab49971f80.jpg/v1/fill/w_304,h_333,al_c,q_80,usm_0.66_1.00_0.01/cef756d5e7f34bb8b5d9adab49971f80.jpg">
   </div>

   <div class = "right-side">
   <h1>Host A Meal!</h1>
     <p>Fill out the following form if you are looking to spice up your shabbos meals!
    <form action="">
     <input type = "text" placeholder = "*Name">
     <input type = "text"placeholder = "*Email">
     <input type = "text"placeholder = "*Phone number just in case">
     </form>
</p>
   <p>*Address including Apt. Number</p>
     <input type = "text" placeholder = "*Street Address">
     <input type = "text"placeholder = "*Address Line 2">
     <input id="half"type = "text"placeholder = "*City">
   <input id="half"type = "text"placeholder = "*State">
    <input id="half"type = "text"placeholder = "*Postal/Zip-Code">
    <input id="half"type = "text"placeholder = "*Country">
   
   <div class= "checkbox">
   <input type = "checkbox"><label>Friday Night Dinner</label>
   </div>
    <div class= "checkbox">
   <input type = "checkbox"><label>Shabos Day Lunch</label>
   </div>
   <div class= "checkbox">
   <input type = "checkbox"><label>Shalashudis/Se'udat Shlishit</label>
     <input type = "text" placeholder = "How many guests can you host?">
   </div>
   <div class = "checkbox">
   <input type = "text" placeholder="Enter a Date">
   </div>
   <button>Submit</button>
   
</div>
{% endblock %}
