{% extends 'base.html' %}
{% load staticfiles %}
{%block css %}<link href = "{% static 'Css/Index.css' %}" rel = "stylesheet" type = "text/css">{% endblock %}
{% block content %}
<div id = "banner">
  <div id = "banner-text">Anywhere in the heights</div>
  
</div>
<div id = "body">
  <div id = "top-header">
    <h1>SHABBAT SHALOM!!</h1>
    <p>Welcome to the Heights, the new up and coming best place to spend your weekend. Friends, fun, and food to be had by all.</p>
  </div>
  <div id = "bottom-header">
    <div id = "left-header">
      <p>Sometimes it is tough to make meal arrangements but that is why we are here for you.</p>
    </div>
    <div id = "right-header">
    <p>Or if you are looking to spice up your shabbos meals by inviting new friends and hosting a fun meal, you are in the right place. </p>
    </div>
  </div>
<img src = "https://static.wixstatic.com/media/6a7d52_98cb52e9382346bf969474a9cd45a40f.jpg/v1/fill/w_394,h_164,al_c,lg_1,q_80/6a7d52_98cb52e9382346bf969474a9cd45a40f.jpg">
</div>
{% endblock %}
