<!DOCTYPE html>
<head>
<link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">

<link href="https://fonts.googleapi s.com/css?family=Playball" rel="stylesheet">

<link href = "Css/Index.css" rel = "stylesheet" type = "text/css">

</head>
<header>
  <div>
    <a href ="index.html "> <div id = "logo"></div></a>
      <nav>
        <ul>
          <li><a href = "index.html">Home</a></li>
          <li><a href = "Guest.html "> Find A Meal</a> </li>
          <li><a href = "Host.html " >  Host a Meal</a></li>
            
        
        </ul>
      </nav>
        </div>
</header>
<div id = "banner">
  <div id = "banner-text">Anywhere in the heights</div>
  
</div>
<div id = "body">
  <div id = "top-header">
    <h1>SHABBAT SHALOM!!</h1>
    <p>Welcome to the Heights, the new up and coming best place to spend your weekend. Friends, fun, and food to be had by all.</p>
  </div>
  <div id = "bottom-header">
    <div id = "left-header">
      <p>Sometimes it is tough to make meal arrangements but that is why we are here for you.</p>
    </div>
    <div id = "right-header">
    <p>Or if you are looking to spice up your shabbos meals by inviting new friends and hosting a fun meal, you are in the right place. </p>
    </div>
  </div>
<img src = "https://static.wixstatic.com/media/6a7d52_98cb52e9382346bf969474a9cd45a40f.jpg/v1/fill/w_394,h_164,al_c,lg_1,q_80/6a7d52_98cb52e9382346bf969474a9cd45a40f.jpg">
</div>

<footer>
  <div class = "footer">
    
    <img src = "https://static.wixstatic.com/media/6a7d52_6b19bd955b7742ad97a4a23a38916224.png/v1/fill/w_96,h_51,al_c,usm_0.66_1.00_0.01/6a7d52_6b19bd955b7742ad97a4a23a38916224.png">
    <h1>With Support From:
    </h1>
  <img src = "https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/Yeshiva_University.svg/490px-Yeshiva_University.svg.png">  <p style = "font-size:50px">Yeshiva University</p>
    
  </div>
   
    
  </div>
</footer>